extends template

block body
    p
      Welcome unknown user. Click one of these to continue:
    p
      a(target='_top', href='#{conf.canvasURL}', scope='#{conf.scope')
        Full Page Canvas Login
    p
      div(class='fb-login-button')

